<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<th:block>
    <div th:replace="fragments/head.html :: head"></div>
</th:block>
<body>
<div class="container-fluid">
    <th:block>
        <div th:replace="fragments/header.html :: header"></div>
    </th:block>
    <main class="mt-3">
        <h1 class="mx-auto w-75">All viruses</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Actions</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody th:each="user, index : ${users}">
            <tr th:if="${!#lists.contains(user.getAuthorities(), rootrole)}">
                <th scope="row" th:text="${index.count}"></th>
                <td th:text="${user.getUsername()}"></td>
                <td  th:if="${!#lists.contains(user.getAuthorities(), adminrole)}">
                    <a class="btn btn-light border-dark"
                       th:href="@{/users/switchrole/admin/{id}(id=${user.getId()})}"
                       th:text="'Make Admin'"></a>
                </td>
                <td th:if="${!#lists.contains(user.getAuthorities(), userrole)}">
                    <a class="btn btn-light border-dark"
                       th:href="@{/users/switchrole/user/{id}(id=${user.getId()})}"
                       th:text="'Make User'"></a>
                </td>
                <td th:if="${!#lists.contains(user.getAuthorities(), moderatorrole)}">
                    <a class="btn btn-light border-dark"
                       th:href="@{/users/switchrole/moderator/{id}(id=${user.getId()})}"
                       th:text="'Make Moderator'"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <th:block>
        <div th:replace="fragments/footer.html :: footer"></div>
    </th:block>
</div>
</body>
</html>